.homePage{
    display:grid;
    grid-template-columns: 4fr 1fr;
    margin: 40px;
    margin-top: 0;
    
}

.exercise-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.headings img{
    width: 65px;
    margin-left: 10px;
}
.headings{
    display: flex;
    margin: 20px 0;
}

.cart-container{
    height: 200vh;
    width: 15vw;
    margin-left: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px gray -5px;
    position: sticky;
    top: 0;
}

