.homePage{
    display:grid;
    grid-template-columns: 4fr 1fr;
    margin: 40px;
    
}

.headings{
    display: flex;
    border: 2px solid red;
    
}

.headings img{
    width: 65px;
    margin-left:10px;
}